<nav>
    <a href="/views/index.ejs">Menu</a>
    <a href="/views/menuItem.ejs">New Menu Item</a>
    <a href="/views/menuEdit.ejs">Edit Menu Item</a>
    <a href="/views/menuDelete.ejs">Delete Menu Item</a>
</nav>