<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h2>Welcome to the API Page <%= name %>.</h2>
        <hr>
        <h2>API List</h2>
        <ul>
            <li><a href="/routes/logins.js">Logins</a></li>
            <li><a href="/routes/menu.js">Menu</a></li>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>