<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
        <%- include('./partials/nav.ejs') %>
    <div class="contact">
        <h2>Contact Us</h2>
        <p>
            If you have any questions, please feel free to contact us. <br>
            We are available by phone or email. <br>
            We look forward to hearing from you!
        </p>
        <p>
            Phone: 123-456-7890<br>
            Email: mitchell.barkley@keyin.com<br>
            GitHub: <a href="https://github.com/mitchell-barkley/FSDB_QAP3">Mitchell Barkley</a>
        </p>
    </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>