<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <h1>Error Code 404</h1>
    <%- include('./partials/nav.ejs') %>
    <p>The page you are looking for does not exist.</p>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>