<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
        <%- include('./partials/nav.ejs') %>
    <div class="home">
        <h2>Welcome to DAL's Restaurant</h2>
        <p>
            We are a family-owned restaurant that has been serving the 
            community for over 20 years. We offer a variety of dishes 
            that are sure to satisfy your taste buds. We are open for 
            breakfast, lunch, and dinner. We also offer catering services 
            for your special events. We look forward to serving you soon!
        </p>
  </body>
    <%- include('./partials/foot.ejs') %>
</html>