<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <% include('../partials/nav.ejs') %>
    <div class="menu content">
      <form action="/menu/<%= locals.pizza_id %>?_method=PATCH" method = "POST">
        <h2>Pizza:</h2>
        <form>
        </form>
    </div>
  </body>
  <%- include('../partials/foot.ejs') %>
</html>