<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <% include('../partials/nav.ejs') %>
    <div class="menu content">
      <h2>Menu Item:</h2>
      <% if (aMenuItem.length > 0) 
      var menuItem = aMenuItem[0]; { %>
      <h3><%= menuItem.itemName %> <%= menuItem.itemPrice %></h3>
      <% } %>
    </div>
  </body>
  <%- include('../partials/foot.ejs') %>
</html>